@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: theme('colors.background');
  color: theme('colors.dark');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Syne', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.primary') #e2e8f0;
}